* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    margin-left: 10px;
    color: #000;
}

.about-section {
    width: 55%;
    text-align: left; 
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
}

.about-section h1 {
    color: #31846f;
    font-size: 28px;
    line-height: 1.2; 
    font-weight: bold;
    margin-bottom: 24px;
}

.about-section p {
    color: #31846f;
    font-size: 15px;
    margin-bottom: 48px;
}

.right-img {
    position: relative;
    justify-content: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 30%; 
    margin-right: 0; 
    margin-bottom: 50px; 
    box-shadow: 10px 10px 5px black;
    border-radius: 20px;
    overflow: hidden;
}

.right-img img {
    width: 100%;
    height: auto;
    transition: all 0.5s ease-in-out;
    object-fit: cover;
    left: 20px;
}


@media only screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-section {
        width: 90%;
        margin-left: 0;
        margin-top: 30px;
    }

    .right-img {
        margin-right: 0;
        width: 100%;
        max-width: none;
    }
}
