*{
    padding: 0px;
    margin: 0px;
   

}
.Employer-login{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin-bottom: 30px;
    margin-top:10px ;
    align-items: center;
  
       min-height: 100vh;
   

   
}
.employeform{
 display: flex;
 justify-content: center;
align-items: center;

}

.employeimage-parents{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.employeeimage-child{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 416px;
    height: 421px;
    /* margin-top: 100px; */
}
.employeeimage-child img{
    height: 100%;
    width: 100%;

}
.employeform{
    display: flex;
    justify-content: center;
    align-items: center;
  border-radius:15px;
  box-shadow: 0px 8px 16px 0px rgba(
    0, 0, 0, 0.2);
    height: 650px;
    width: 876px;
    text-align: center;
   

    
    
   

}
.employeeinputs{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 70px;
   width: 350px;
   padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 19px;
}
.employbtn{
    display: flex;
    justify-content: center;
    text-align: center;

}
.employerbtn{
    height: 30px;
    width: 160px;
}
.employ a{
    color: blue!important;
}