* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.employee-container {
 
  display: flex;
  justify-content: center;
  align-items: center; 
  overflow: hidden; 
  /* width: 100vw; */
}
.employer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imageparent {
  /* background-color: #efb39154; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 700px;
  /* padding-top: -50px; */
}
 
.imageChild2 {
  height: 400px;
  width: 300px;
  padding-bottom: 80px;
  object-fit: cover;
}
.imageChild2 img {
  height: 100%;
  width: 100%;
}
.employercontext {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #6c7a89;
  margin: 0 10px;
  padding-bottom:50px ;
}

.employerClick {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.employer-button {
  text-align: center;
  background-color: #5851d3;
  width: 200px;
  height: 40px;
 
  margin-top:2.5rem ;
  border-radius: 20px;
}

.employerbrand{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 100px;
}
.employerImages{

  height: 250px;
  width: 850px;
}
.employerImages img{
  height:100%;
  width:100%;
}
.carrerContainer{
  background-color:#99cccd;
  width: 100vw;
  height: 350px;
  margin-bottom:100px ;
 
 
}

.carrerHeader{
  flex-direction: column;
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top:1.2rem ;
}
.carrerHeader h2 h3{
  text-align: center;
  font-size: 20px;
}
.iconsection{
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carrierparent{
  padding: 3rem;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  
}
.carreri{
  text-align: center;

}



.worklifeparent{
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
  margin-bottom: 100px;

}
.worklife{
  justify-content: center;
  display: flex;
  align-items: center;
}
.workflow h3{
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 50px;

  
 
}
.workflow  b{
  text-decoration: underline;
  color: #5851d3;
  
}
.graphimages{
  justify-content: center;
  display: flex;
  align-items: center;
  

}
.garphchild{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 600px!important;
  width: 800px!important;
 
}
.garphchild img{
 height:100%;
 width: 100%;

}
.getintouch{
  background-color:#f3dcf9;
  width: 100vw;
  height: 350px;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 100vw;
  
}


.faq-style-wrapper {

  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 50px;
  
  
}
.section-title{
  padding-left: 100px;
}
.faq-item {
  margin-bottom: 15px;
}

.faq-question {
  font-weight: bold;
  cursor: pointer;
}

.faq-answer {
  display: none;
}

.faq-answer.active {
  display: block;
}

