

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    /* background-color: #f4f4f4; */
  }
  
  .seachbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0px 0;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  #search {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
  }
  
  .searchicons {
    position: absolute;
    top: 23px;
  
    cursor: pointer;
  }
  
  .FindJobs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: italic;
  }
  
  .jobCat {
    position: relative;
    border: 2px solid black;
    /* font-weight: bold; */
    border-radius: 10px;
    height: 280px;
    width: 65%;
    max-width: 700px;
    margin: 20px;
  }
  
  .jobCat h2,
  .jobCat p {
    margin-left: 80px;
    margin-top: 10px;
    font-size: 13px;
  }
  
  .veiwButton,
  .Applybutton {
    position: absolute;
    top: 80%;
   
    width: 70px;
    border-radius: 5px;
    box-shadow: 5px 2px 5px;
  }
  
  .veiwButton {
    left: 35%;
    background: red;
    color: black;
  }
  
  .Applybutton {
    left: 68%;
  }
  
  /* Media Queries */
  
  @media only screen and (max-width: 768px) {
    .jobCat {
      width: 65%;

    }
  }
  
  @media only screen and (max-width: 480px) {
    .seachbar {
      flex-direction: column;
      text-align: center;
    }
  
    #search {
      width: 100%;
      margin-top: 20px;
    }
  
    .searchicons {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    
        
  
    .Applybutton.veiwButton {
      position: absolute;
      width: 20%;
      margin: 5px;
      margin-top: 10px;
      width: 50px;
      height: 30px;
      /* margin-bottom: 20px; */
    
    }
  }
  