

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    /* background-color: #f4f4f4; */
  }
  
  .seachbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0px 0;
    flex-direction: column;
    flex-wrap: wrap;
    
  }
  
  #search {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: rgb(169, 202, 179);
  }
  
  .searchicons {
    position: absolute;
    top: 13px;
    right: 43%;
    cursor: pointer;
  }
  
  .FindJobs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: italic;
    min-height: 100vh;

  }
  
  .jobCat {
    position: relative;
    /* border: 1px solid rgb(29, 193, 89); */
    /* font-weight: bold; */
    border-radius: 10px;
    height: 350px;
    width: 35%;
   
    margin: 20px;
    box-shadow: 5px 2px 5px;
    /* color: rgb(19, 165, 75); */
  }
  
  .jobCat h2,
  .jobCat p {
    margin-left: 80px;
    margin-top: 10px;
    font-size: 13px;
  }
  
  .veiwButton,
  .Applybutton {
    position: absolute;
    top: 80%;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 5px 2px 5px;
  }
  
  .veiwButton {
    left: 13%;
    background: red;
    color:white;
  }
  
  .Applybutton {
    left: 50%;
    color: white;
  }
  
  /* Media Queries */
  
  @media only screen and (max-width: 768px) {
    .jobCat {
      width: 110%;
      height: 386px;

    }

    .searchicons{
      margin-top: 18px;
    }
    @media only screen and (max-width: 480px) {
      .seachbar {
        flex-direction: column;
        text-align: center;
        width: 198px;
        margin-left: 116px;
      }
      
      #search {
      width: 100%;
      margin-top: 20px;
    }
  
    .searchicons {
      margin-top: 13px;
      margin-bottom: 10px;
      right: 10px;
    }
    
    
    
    
    .Applybutton{
      width: 80px!important;
      margin-top: 25px;
      
     margin-left: 19px;
      
    }
    .veiwButton {
      position: absolute;
      width: 80px!important;
      margin: 10px;
      margin-top: 25px;
      /* width: 50px; */
      /* height: 30px; */
      /* margin-bottom: 20px; */
    
    }
  }.jobCat p{
    font-size: 17px;
  }
  
}