

.footer {
    background-image: linear-gradient(to right, #2ecc71, #3498db);
  color: white;
  padding: 20px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 15px;
}

a {
  color: white!important;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer {
    /* padding: 20px 10px; */
  }

  ul {
    flex-direction: column;
  }

  li {
    margin: 10px 0;
  }
}
