
 body{
    font: 1em sans-serif;

 }
.headerContainer {
      background-image: linear-gradient(to right, #2ecc71, #3498db);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;

    /* color: white; */
  }
  
  .headerContainer span {
    font-size: 24px;
    color:white;
    font-style: italic;
    margin-left: 8px;
  }
  
  .homeLink ul {
    list-style: none;
    display: flex;
    /* gap: 20px; */
    margin-right: 16px;

  }
  
  .homeLink li {
    font-size: 15px;
  }
  
  .homeLink a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
  }
  
  .homeLink a:hover {
    text-decoration: underline;
   
  }
  
  
  