*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100%;
    background:#f5f7fa;
    cursor: pointer;
    background-attachment: fixed;
    box-shadow: 10px 10px 10px rgba(26, 24, 24, 0.5);
   
   
}
.typewriter{
    font-family:roman;
    white-space: pre;
    animation: typing 3s steps(4) infinite;
    text-align:center;
    
}
 .typewriter h1{
    background: linear-gradient(#1dc0af, black); 
    -webkit-background-clip: text; 
    color: transparent; 
    letter-spacing: 8px;
    line-height: 60px;
    font-size: 25px;
     font-style: roman; 
     padding:40px;
    }

    .findjob{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
   

    .bestjob {
        color: #31a85f;
  
        /* background:#f5f7fa; */
        border: none;
        letter-spacing: 2px;
        font-size: 20px;
        border-bottom: 2.5px solid rgb(16, 179, 68); 
        border-radius: 4px;
        /* margin-left:330px ; */
        margin-top: 50px;
        /* background-image: linear-gradient(to right, #254dac,rgb(25, 154, 83)); */

        &:hover{
            transition: all 0.5s ease;
            transform: scale(1.1);
            color:white;
            background:#20978b(131, 33, 33);
            width: auto;
            }
            
        
    }
   



 .social-icons{
    position: absolute;
    top:950px;
    left: 260px;
    transform: translateX(-50%);
      z-index:1;  
    display:flex;
    justify-content: space-around;
    width:max-content;
    /* margin-top: 50px; */
    /* border: 1px solid black; */
    text-decoration: none;

 }
 .social-icons p{
    
    color: #1dc0af;
 }
 .social-icons li{
    list-style:none;
 }
   
 .social-icons a{
    margin: 10px ;
    transition: all 0.3s ease-in-out;
    color:white;
    opacity: 0.6;
    height: 20px;
    width: 90px;
    border-radius: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 10px rgba(31, 29, 29, 0.7);
    margin-right:350px ;
    padding: 5px;
    &:hover {
        color:white;
        opacity: 1;
        box-shadow: none;
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;
        
    }
}

.social-icons a.facebook{
     background-color: #2e3abc;
    animation: fb 1s infinite;
    transform: scale(.8);
    
    border-bottom:5px solid black;

   
 }
 
 

 .social-icons a.youtube{
    background-color: #bc2e3c;
   animation: fb 1s infinite;
   transform: scale(.8);
   border-bottom:5px solid black;
  
  
}

.social-icons a.instagram{
    background-image: linear-gradient(to right, #254dac,rgb(168, 160, 113));
   animation: fb 1s infinite;
   transform: scale(.8);
   border-bottom:5px solid black ;
  
}

 
 .images-flex{
     display: flex;
      opacity: 3;
    justify-content: space-between;
    align-items:center;
    height:300px;
    width:300px;
    /* margin-left: 450px; */
    /* margin-bottom: 120px; */
    margin-top: 90px;
    /* gap: 20px; */
    
    
    
    
    
}
.images-flex img{
    margin: 90px;
    margin-right:10px ;
   
   
    box-shadow:  10px 10px 10px rgba(0,0,0,.5);
    border-radius: 10px;
    transition: all .5s ease-in-out;
    justify-self: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    

 }

 

.video-container {
    position: relative;
    width: 100%;
    height: 70%;
  }
  
  .video-overlay {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: snow;
  }
  
  .video-overlay h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .video-overlay strong {
    font-size: 1.5em;
    display: block;
    margin-bottom: 10px;
  }
  
  .video-overlay span {
    display: block;
    margin-bottom: 10px;
  }
  
  .video-overlay hr {
    border: 1.5px solid rgba(19, 187, 100, 0.817);
    width: 50%;
    margin: 10px auto;
  }
  
  .video-overlay p {
    font-size: 2.5em;
    max-width: 600px;
    margin: 0 auto;
  }
  
 
  
 
.swiper_container{
    margin-top: 20px;
    width:400px;
    height:400px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    /* background:#eaeefb; */
    opacity: 0.2;
    /* border-radius: 100%;   */
    
}
.swiper_container:hover{
    opacity: 1;
}
.swiper_container img{
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    top: 30px;
    
}
.jobs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 200px;
    margin-top: 80px;
    


}
.job:hover{
    transform: scale(1.1);
    transition: all .3s ease-in-out;

}
.discrpition{
    /* z-index:99;  */
    left:0px;
    
    border-radius: 20px; 
    box-shadow: 10px 10px 10px rgba(26, 24, 24, 0.5);
    background:white;
    color:#0d0d0c;
    height: 300px;
    width: 290px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left:50px ;
    margin-right: 80px;
    padding:8px;
   
    
}
.discrpition h1{
    
     
        margin-top:20; 
        font-weight: normal;
        font-size: 20px;
        text-align: center;
        align-items: flex-start;
        
        flex-direction: column;
        font-style: italic;
        letter-spacing: 1.2px;
        padding-bottom: 10px;
    }
    
    .discrpition p{
        margin:0;
        line-height: 18px;
        /* font-style: ; */
        padding: 5px;
        color: black;

       
    }
    .discrpition .icons{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: linear-gradient(to right, #2ecc71, #3498db);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        /* margin-bottom: 1rem; */
        margin-left: 73px;
        margin-top: 10px; 
        /* text-align: center; */
    }

    .discrpition svg {
        font-size: 4.5rem;
        color: #fff;
      }
      

h4{
    /*text-decoration: underline;*/
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #0d0d0c;
    margin :30px;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing:5px ;
    margin-bottom: 50px;

}
.job-post{
    width:20%;
    height:auto;
    float: left;
    background:#803131;
    border:1px solid #ececec;
    box-shadow: 0 0 7px rgba(0,0,0,.1);
    margin-right: 2%;
    z-index: 1;
    margin-bottom: 40px;
}


    
    


