.news-feed-container {

    display: flex;
    flex-direction: column;
  }
  
  .news-item {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 20px;
  }
  
  .image-container {
    width: 200px;
    margin-right: 20px;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  .content {
    flex: 1;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
 .content span {
    display: block;
    margin-bottom: 5px;
  }
  
  a {
    color: blue;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  