.search-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-left: 220px; */
}


 

.job-details,
.search-results {
  width: 100%;
  min-height: 100vh;
 
  max-width: 800px; 
}

.job-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  flex-direction: column;
  height: 60vh;
}

.apply-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 300px;

  .search-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.job-details,
.search-results {
  width: 100%;
  max-width: 900px; 
  border: 1px solid #6c4747;
}

.job-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  
}

.apply-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 5px;
  cursor: pointer;
  border-radius: 5px;
  
    padding-left: 40px;
    margin-left: 23px 
}

@media (min-width: 768px) {
  .search-view-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .job-details,
  .search-results {
    width: 60%;
    max-width: none;
  }
}

}

@media (min-width: 768px) {
  .search-view-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .job-details,
  .search-results {
    width: 60%; 
    max-width: none;
  }
}
