*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.singlejobs{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 30px; */
    border:1px solid black;
    height:auto;
    font-size: 10px;
    
    width:100%;
}
.singledata{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:15px ;

    margin-top: 5px;
}
  

